* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 20px;
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container-principal {
    display: flex;
    gap: 30px;
    margin: 100px 20px 20px 20px;
    margin-left: 50px;
}

.container {

    display: flex;
    flex-direction: column;
    gap: 15px;

}


.inputs {
    background-color: yellow;
    opacity: 0.2;
    font-size: x-large;
    width: 500px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.inputs::placeholder {
    color: black;
}

.inputs:hover {
    background-color: rgb(162, 162, 0);
    color: white;
    transform: scale(0.97);
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 14px 24px;
    background-color: #FFD900;
    color: #4A3F00;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.botao img {
    width: 26px;
    height: 26px;
}

.botao:hover {
    background-color: #FFCC00;
    transform: scale(1.03);
}

.container-botoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.botao:hover {
    background-color: rgb(162, 162, 0);
    color: white;
    transform: scale(0.97);
}

.calculos {
    z-index: 1px;
    position: relative;

    padding: 90px;
    width: 900px;
    background-color: white;
    border: 5px solid yellow;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-principal h3 {

    margin-left: 15px;
    color: rgb(129, 129, 54);
}

.container-principal h1 {

    margin-left: 175px;
    color: rgb(129, 129, 54);
}

.botoes_em_cima {
    position: absolute;
    justify-items: baseline;
    display: flex;
    top: -50px;
    left: 0;
    width: 100%;
    justify-content: center
}

.botao_ {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 12px;
    padding: 14px 24px;
    background-color: #FFD900;
    color: #4A3F00;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;

}
.botao_:hover {
    background-color: #FFCC00;
    transform: scale(1.02);
    
}

