  /* O box-sizing serve para alterar a forma como o css calcula a largura e altura, pois quando ele é definido a latgura e altura do elemento consideram a borda e o padding tambem*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header,
  footer {
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .container-principal {
    display: flex;
    gap: 30px;
    margin: 100px 20px 20px 20px;
    margin-left: 50px;
    position: relative;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
    /* opacity é a transparencia,vai de 0 a 1*/

  .inputs {
    background-color: yellow;
    opacity: 0.2;
    font-size: x-large;
    width: 500px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .inputs::placeholder {
    color: black;
  }
  
  .inputs:hover {
    background-color: rgb(162, 162, 0);
    color: white;
    transform: scale(0.97);
  }
  
  .botao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 14px 24px;
    background-color: #FFD900;
    color: #4A3F00;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  
  .botao img {
    width: 26px;
    height: 26px;
  }
  
  .botao:hover {
    background-color: #ebc83b;
    color: white;
    transform: scale(0.97);
  }
  
  .container-botoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  /* O z-Index é o nivel do elemento, se ele for maior, ele irá sobrepor o outro z-index que está menor*/
  
  .calculos {
    position: relative;
    z-index: 10;
    padding: 90px;
    height: 370px;
    width: 900px;
    background-color: white;
    border: 5px solid yellow;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container-principal h3 {
    margin-left: 15px;
    color: rgb(129, 129, 54);
  }
  
  .container-principal h1 {
    margin-left: 175px;
    color: rgb(129, 129, 54);
  }
    /*Esse top faz os botoes irem pra cima do calculos*/

  .botoes_em_cima {
    position: absolute;
    top: -50px;
    margin-left: 530px;
    width: 900px;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  
  .botao_ {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 12px;
    padding: 14px 24px;
    background-color: #FFD900;
    color: #4A3F00;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70%;
  }
  
  .botao_:hover {
    background-color: #ebc83b;
    transform: scale(1.01);
  }
  